<section class="grid-1">

  <div class="panel panel-title">
    <h1>Bienvenido a su Hulk Store</h1>
    <p>Aqui podra encontrar los mejores articulos inspirados en personajes de Marvel y DC Comics</p>
  </div>
  <div class="panel panel-1"></div>
  <div class="panel panel-2"></div>
  <div class="panel panel-3">
    <p>En la sección Artículos puede revisar los articulos existentes</p>
  </div>
  <div class="panel panel-3">
    <p>En la sección Compras puede adquirir nuestros productos</p>
  </div>
</section>
